[package]
name = "everscale-jrpc-server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
arc-swap = "1.5"
axum = { version = "0.5", features = ["http2"] }
axum-jrpc = "0.2.0"
log = "0.4"
parking_lot = { version = "0.12.0", features = ["hardware-lock-elision"] }
rustc-hash = "1.1"
serde_json = "1.0"
thiserror = "1.0"
tower = "0.4.12"
tower-http = { version = "0.3.0", features = ["compression-gzip"], optional = true }

ton_types = { git = "https://github.com/broxus/ton-labs-types.git" }
ton_block = { git = "https://github.com/broxus/ton-labs-block.git" }

ton-indexer = { git = "https://github.com/broxus/ton-indexer.git" }

nekoton-abi = { git = "https://github.com/broxus/nekoton.git", default-features = false }

everscale-jrpc-models = { path = "../models" }

[features]
default = ["compression"]
compression = ["dep:tower-http"]
